<?xml version="1.0" encoding="UTF-8" ?>  
<configuration> 

    <appender name="file" class="ch.qos.logback.core.FileAppender">    
        <!-- 指定的日志文件名 -->  
        <file>logFile.log</file>  
        <!-- 是否追加到文件末尾，默认true -->  
        <append>true</append>  
        <encoder>  
          <pattern>%-4r [%thread] %-5level %logger{35} - %msg%n</pattern>  
        </encoder>  
    </appender>  
  	 <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">  
        <!-- 设置级别过滤器 -->  
        <filter class="ch.qos.logback.classic.filter.LevelFilter">  
            <!-- level级别的日志才会被处理，其他级别不处理 -->  
            <level>INFO</level>  
            <!-- 用于配置符合条件的操作 -->  
            <onMatch>ACCEPT</onMatch>  
            <!-- 用于配置不符合条件的操作 -->  
            <onMismatch>DENY</onMismatch>  
        </filter>  
        <!-- encoder指定编码格式，并根据指定的pattern输出日志信息 -->  
        <encoder charset="UTF-8">  
            <!-- pattern指定日志的输出格式 -->  
            <pattern>%d{HH:mm:ss.SSS}[%-5level][%thread][%logger{20}]-%msg%n</pattern>  
        </encoder>  
    </appender>  
  
<root level="DEBUG">  
    <appender-ref ref="stdout"/>
    <appender-ref ref="file" />  
</root>  
</configuration>